@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-left: 5%;
  flex-direction: column;
  font-family: 'Anton', Arial, sans-serif;
}

.card {
  width: 260px;
  height: 180px;
  background-color: rgb(26, 26, 255);
  border-left: solid rgb(19, 19, 160) 10px;
  border-right: solid rgb(11, 11, 91) 10px;
  border-top: solid rgb(61, 61, 200)10px;
  border-bottom: solid rgb(20, 20, 89) 10px;
  text-align: center;
  font-size: 100px;
  margin: 5px;
  padding: 10px;
  line-height: 120px;
}

.title{
  margin: auto;
  background-color: blue;
  width: fit-content;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  text-align: center;
}

#game {
  display: flex;
  background-color: rgb(32, 32, 32);
}

.first-button {
  background-color: rgb(255, 255, 255);
}

.second-button {
  background-color: rgb(255, 255, 255);
}

.third-button {
  background-color: rgb(255, 255, 255);
}

.fourth-button {
  background-color: rgb(255, 255, 255);
}

.genre-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.genre-title {
  background-color: rgb(26, 26, 255);
  text-align: center;
  font-size: 28px;
  padding: 5px;
  margin: 5px;
}

.timer {
  font-size: 16px;
}

.correct-answer {
  background-color: rgb(26, 26, 255);
}

.wrong-answer {
  background-color: rgb(221, 64, 56);
}

button {
  margin: 5px;
}